node_modules/
.expo/
project/dataset/
project/images/
project/uploads/
project/logs/
training/dataset/
training/outputs/
*.pth
*.pt
*.log
__pycache__/
*.pyc
.vscode/
project/annotations.xml
project/dataset.json
.env
package-lock.json
